div.post-preview
    -var hr='/p'+i;
    a(href=hr)
        h2.post-title Man must explore, and this is exploration at its greatest#{i}
        h3.post-subtitle Problems look mighty small from 150 miles up
    p.post-meta Posted by
        a(href="") Start Bootstrap on September 24, 2019
        