<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        -var url='/img/about-bg.jpg';
        -var title='404';
        -var subtitle='thomething went wrong';
        include includes/header.pug