<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        -var url='/img/home-bg.jpg';
        -var title='Clean_blog';
        -var subtitle='A Blog Theme by Start Bootstrap';
        include includes/header.pug
        include includes/blogs.pug
        include includes/footer.pug
        