<!DOCTYPE html>
html(lang="en")
    include includes/head.pug
    body
        -var url='/img/home-bg.jpg';
        -var title=post.title;
        -var subtitle=' ';
        include includes/header.pug
        include includes/footer.pug